.App {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    align-items: center;
}
input{
      width: 350px;
      margin: 10px;
}
button{
    width: 350px;
}
.list{
   margin-top: 20px;
   text-align: center;
}